.message-cards-list {
  display: flex;
  flex-direction: column;
}

.message-card {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  page-break-after: always; /* Force a page break after each card */
  box-sizing: border-box; /* Include padding and border in width/height */
  display: flex; /* Add flexbox to the card */
  flex-direction: column; /* Arrange content vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* center horizontally */
  padding: 20px; /* Add padding to the card */
}

.message-content {
  font-size: 1.2rem; /* Increase font size */
  text-align: center; /* center the text */
  padding: 20px; /* add padding to message content */
}

.arabic-text {
  text-align: right; /* right align arabic text */
}

.message-content p:first-child {
  font-size: 1.5rem; /* change the size of the Hiiii */
}

.emoji {
  font-size: 1.5rem; /* Increase emoji size */
  margin: 0 5px; /* Add horizontal space around emojis */
}

@media print {
  body * {
    visibility: hidden;
  }
  .message-cards-list, .message-cards-list * {
    visibility: visible;
  }
  .message-cards-list {
    position: absolute;
    left: 0;
    top: 0;
  }
}
